@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

Button.-primary {
  font-size: 18;
}

.send-button {
    width: 40;
    height: 40;
    border-radius: 20; /* Half of width and height to make it circle */
    background-color: black; /* Change as needed */
    color: white;
    font-size: 24;
    horizontal-align: right;
    vertical-align: center;
}

.chat-bubble {
    padding:15;
    margin: 5;
    font-size: 14;
    border-radius: 10;
}

.right .chat-bubble {
    background-color: #E0E0E0; /* Light gray for sender */
    horizontal-align: right;
    border-bottom-right-radius: 0;
}

.left .chat-bubble {
    background-color: #0078D7; /* Blue for receiver */
    color: white;
    horizontal-align: left;
    border-bottom-left-radius: 0;

}


.input-msg {
  width: 210;
}

.send-image {
  height: 40;
  width: 80;
  background-color: #000;
  border-radius: 20;
  color: white;
  margin: 5;
}
.send-msg {
  height: 40;
  width: 40;
  font-size: 20;
  background-color: #000;
  border-radius: 20;
  color: white;
  margin: 5;
}

.btn-nav-login {
  background-color: #05cad1;
  color: white;
  font-size: 16;
  padding: 10;
  border-radius: 5;
  margin-top: 300;
}

.main-btn {
  background-color: #0078D7;
  color: white;
  font-size: 16;
  padding: 10;
  border-radius: 5;
}

TextField {
  font-size: 16;
  padding: 10;
  border-radius: 5;
  margin-bottom: 10;
}

.user-list {
  padding: 20;
  font-size: 14;
  margin: 5;
  border-radius: 10;
  border: none;
  background-color: #E0E0E0;
}

.uploading {
  filter: blur(1.5rem);
}