@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

Button.-primary {
  font-size: 18;
}

.send-button {
    width: 40;
    height: 40;
    border-radius: 20; /* Half of width and height to make it circle */
    background-color: black; /* Change as needed */
    color: white;
    font-size: 24;
    horizontal-align: right;
    vertical-align: center;
}

.chat-bubble {
    padding: 10;
    margin: 5;
    border-radius: 10;
}

.right .chat-bubble {
    background-color: #E0E0E0; /* Light gray for sender */
    horizontal-align: right;
}

.left .chat-bubble {
    background-color: #0078D7; /* Blue for receiver */
    color: white;
    horizontal-align: left;
}

#uploadImageButton {
  background-color: #0078D7;
  color: white;
  font-size: 16;
  padding: 10;
  border-radius: 5;
}

#sendButton {
  background-color: #28a745;
  color: white;
  font-size: 16;
  padding: 10;
  border-radius: 50%; /* Circle button */
}

#sendButton .send-button {
  height: 40;
  width: 40;
  border-radius: 20;
}